In [2]:
import pandas as pd
import numpy as np

In [4]:
column_names=['Sample code number','Clump Thickness','Uniformity of Cell Size','Uniformity of Cell Shape','Marginal Adhesion','Single Epithelial Cell Size','Bare Nuclei','Bland Chromatin','Normal Nucleoli','Mitoses','Class']

In [6]:
data=pd.read_csv('./breast-cancer-wisconsin.data',names=column_names)

In [7]:
data

,Sample code number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoli,Mitoses,Class
0,1000025,5,1,1,1,2,1,3,1,1,2
1,1002945,5,4,4,5,7,10,3,2,1,2
2,1015425,3,1,1,1,2,2,3,1,1,2
3,1016277,6,8,8,1,3,4,3,7,1,2
4,1017023,4,1,1,3,2,1,3,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...
694,776715,3,1,1,1,3,2,1,1,1,2
695,841769,2,1,1,1,2,1,1,1,1,2
696,888820,5,10,10,3,7,3,8,10,2,4
697,897471,4,8,6,4,3,4,10,6,1,4
698,897471,4,8,8,5,4,5,10,4,1,4

In [13]:
data=data.replace(to_replace='?',value=np.nan)

In [14]:
# dropna how='any' 存在缺失值则将这一行删除
data=data.dropna(how='any')

In [15]:
data.shape

(683, 11)

### 使用sklearn.cross_valiation里的train_test_split模块用于分割数据

In [16]:
# sklearn.cross_valiation已经被废弃，整合到sklearn.model_selection里面了
from sklearn.model_selection import train_test_split

In [18]:
X_train,X_test,y_train,y_test=train_test_split(data[column_names[1:10]],data[column_names[10]],test_size=0.25,random_state=33)

### 使用线性分类进行肿瘤预测

In [29]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import SGDClassifier

In [30]:
ss=StandardScaler()

In [33]:
X_train=ss.fit_transform(X_train)

In [35]:
X_test=ss.transform(X_test)

In [37]:
lr = LogisticRegression()

In [38]:
sgdc=SGDClassifier()

In [39]:
lr.fit(X_train,y_train)

LogisticRegression()

In [40]:
lr_y_predict=lr.predict(X_test)

In [41]:
sgdc.fit(X_train,y_train)

SGDClassifier()

In [43]:
sgdc_y_predict=sgdc.predict(X_test)

In [44]:
sgdc_y_predict

array([2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 4, 2, 4, 4, 4, 4, 4, 2, 2, 4,
       4, 2, 4, 4, 2, 2, 4, 4, 4, 4, 4, 4, 4, 4, 2, 4, 4, 4, 4, 4, 2, 4,
       2, 2, 4, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4,
       2, 2, 2, 2, 4, 2, 2, 4, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 2, 4, 2,
       4, 2, 4, 4, 2, 2, 2, 2, 4, 4, 2, 2, 2, 4, 2, 2, 4, 2, 2, 2, 2, 2,
       4, 2, 2, 2, 2, 2, 2, 4, 2, 2, 4, 4, 2, 4, 2, 2, 2, 4, 2, 2, 4, 4,
       2, 4, 4, 2, 2, 2, 2, 4, 2, 4, 2, 4, 2, 2, 2, 2, 2, 4, 4, 2, 4, 4,
       2, 4, 2, 2, 2, 2, 4, 4, 4, 2, 4, 2, 2, 4, 2, 4, 4], dtype=int64)

In [45]:
from sklearn.metrics import classification_report

In [46]:
print('Accuracy of LR Classifier:',lr.score(X_test,y_test))

Accuracy of LR Classifier: 0.9883040935672515

In [56]:
print(classification_report(y_test,lr_y_predict,target_names=['Benign','Malignant']))

              precision    recall  f1-score   support

      Benign       0.99      0.99      0.99       100
   Malignant       0.99      0.99      0.99        71

    accuracy                           0.99       171
   macro avg       0.99      0.99      0.99       171
weighted avg       0.99      0.99      0.99       171

In [57]:
print('Accuarcy of SGD Classifier:',sgdc.score(X_test,y_test))

Accuarcy of SGD Classifier: 0.9941520467836257

In [60]:
print(classification_report(y_test,sgdc_y_predict,target_names=['Benign','Malignant']))

              precision    recall  f1-score   support

      Benign       1.00      0.99      0.99       100
   Malignant       0.99      1.00      0.99        71

    accuracy                           0.99       171
   macro avg       0.99      0.99      0.99       171
weighted avg       0.99      0.99      0.99       171